@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.bg-glass {
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-shadow-lg {
  text-shadow: 0 5px 10px #02303724
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  
  .game-input {
    @apply bg-emerald-50 border-teal-600 text-teal-900  placeholder-teal-700 bg-opacity-60;
  }

  .game-input-danger {
    @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700 bg-opacity-60;
  }

  .game-input-success {
    @apply bg-green-50 border-emerald-500 text-green-900  placeholder-green-700 bg-opacity-60;
  }

}

.game-input-success + .input-success {
  display: block;
}

.game-input-danger + .input-success + .input-error {
  display: block;
}